# Build
bin/
obj/
.nupkg
*.nupkg
*bin/
*obj/

# VSCode settings personales
.vscode/
.vs/
*.vscode/
*.vs/

# Archivos temporales
*.user
*.suo
*.userosscache
*.sln.docstates

# Archivos de sistema
*Thumbs.db
*Desktop.ini
*.tmp